# --- Base computation & math ---
numpy>=1.19.3
scipy>=1.14

# --- Deep Learning & Vision ---
torch
ultralytics>=8.0.0
opencv-python>=4.0.0

# --- Tracking ---
peasyTracker>=0.0.1

# --- Utilities & Data parsing ---
loguru>=0.7.2
tqdm>=4.66.4
mat73>=0.63
PyYAML>=6.0.1

# --- Visualization ---
matplotlib>=3.9.0